.App {
  text-align: center;
  justify-content: center;
 
}

.flex-container {
  display: flex;
  flex-direction: column !important;
  align-content: center;
  
}

.App-link {
  color: #61dafb;
}

.skyline{
  background-image: url("images/skyline2.jpeg");

}

h1 {
  font-family: "Comic Sans";
  font-size: 72px;
  color: transparent;
}

h2 {
  color: transparent;
  font-size: 36px;
  font-family: "Comic Sans";
}

h3 {
  font-family: "Comic Sans";
  margin: auto;
}

h4 {
  font-family: "Comic Sans";
}

p {
  font-family: "Comic Sans";
  margin: auto;
}

header {
  background: linear-gradient(-45deg, #f803cb, #e648f889, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  background-clip: text;
  height: 190px;
  padding-top: 25px;
}

main {
  padding-top: 25px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.imageContainer {
  width: 350px;
  height: 400px;
  margin: auto;
  text-align: center;
}

@media (max-width: 358px){
  img{
    display: flex;
    width: 100%;
    height: auto;
  }
  .imageContainer{
    display: flex;
    width: 100%;
    height: auto;
  }
  header{
    height: auto;
    padding-bottom: 30px;
  }
  h1{
    font-size: 18vw;
  }
  h2{
    font-size: 10vw;
  }
}

@media(max-width: 500px){
  .wrapper{
    width: auto !important;
  }
}


.wrapper{
  text-align: center;
    width: 500px;
    margin: auto;
    display: flex;
  }

  

/* .neonText {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 9px #fff,
    0 0 15px #fff,
    0 0 35px #0fa,
    0 0 65px #0fa,
    0 0 50px #0fa,
    0 0 65px #0fa,
    0 0 10px #0fa;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
